<!-- <app-nav></app-nav> -->
<router-outlet></router-outlet>

<!-- <app-products></app-products> -->

<!-- <button (click)="createUser()">create user</button> -->
<!--<button (click)="login()">login</button>
<button (click)="getProfile()">get</button> -->
<!-- <p><button (click)="download()">descargar</button></p> -->
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

